@use "mixins";
@use "vars";

.img-fluid {
  @include mixins.img-fluid;
}

.img-thumbnail--left {
  float: left;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.img-thumbnail--right {
  float: right;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.img-thumbnail--center {
  margin-left: auto;
  margin-right: auto;
}

.img-thumbnail {
  background-color: vars.$thumbnail-bg;
  border-radius: vars.$thumbnail-border-radius;
  border: vars.$thumbnail-border-width solid vars.$thumbnail-border-color;
  display: block;
  padding: vars.$thumbnail-padding;

  // Keep them at most 100% wide
  @include mixins.img-fluid;

  @include mixins.media-query(vars.$on-phone) {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

