* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  color: $grey-color-normal;
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1;

  @include fluid-type(320px, $default-width, 13px, 16px);
}

body {
  margin: 0;
  padding: 0;
  background: $background-color;
  box-shadow: inset 0 15px 0 $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  margin: 0;
}

dl,
dt,
dd,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol {
  margin: 0;
  padding: 0 0 0 20px;
}

form,
input,
textarea,
select {
  font: 400 16px/16px 'Roboto',Arial,sans-serif;
  margin: 0;
  padding: 0;
  resize: none;
}

img {
  margin: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $grey-color-normal;
}

p {
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

header,
nav,
section,
main,
article,
aside,
figure,
footer,
iframe,
object,
svg {
  display: block;
  margin: 0;
}

.clear {
  zoom: 1;

  &:after {
    clear: both;
    content: "";
    display: table;
  }

  &:before {
    content: "";
    display: table;
  }
}

::-ms-clear {
  display: none;
}
