$background-color: #fcfcfc;

$black: #000;
$white: #fff;

$primary-color: #fe2e6b;

$grey-color-darker: #111;
$grey-color-dark: #333;
$grey-color-normal: #666;
$grey-color-light: #aaa;
$grey-color-lighter: #ddd;
$grey-color-lightest: #eee;

$facebook-brand-color: #3b5998;
$twitter-brand-color: #55acee;

$default-width: 1100px;
$on-tablet: 768px;
$on-smaller-tablets: 640px;
$on-phone: 480px;

$burger-cell-height: 2px;

$thumbnail-padding: 0.25rem;
$thumbnail-bg: $background-color;
$thumbnail-border-width: 1px;
$thumbnail-border-color: $grey-color-light;
$thumbnail-border-radius: 0.25rem;
