---
---

@import "vars";
@import "mixins";
@import "reset";
@import "img";

.wrapper {
  margin: 0 auto;
  max-width: $default-width;
  padding: 60px 20px;
}

.user-profile {
  @include transition(right .3s ease-in-out);
  max-width: 300px;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 100%;

  &.fixed { position: fixed; }

  .compact-header {

    .avatar {
      display: block;
      margin: 0 auto 25px;

      &:hover img { opacity: .9; }

      img {
        @include transition(opacity .1s ease);
        border-radius: 50%;
        max-height: 140px;
        max-width: 140px;
      }
    }

    .my-info {
      .my-name {
        display: block;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        color: $grey-color-dark;
      }

      .my-job-title {
        font-size: 14px;
        font-weight: 300;
        margin: 5px 0 0;
      }
    }
  }

  .mainmenu {
    margin: 40px 0;
    text-align: center;

    a {
      @include transition(all .1s ease);
      background: $background-color;
      border-top: none;
      border: 1px solid $grey-color-lightest;
      box-shadow: 0 2px 3px rgba($black,.05);
      display: block;
      margin: 0 auto;
      max-width: 300px;
      padding: 15px 0;

      &:hover,
      &.active {
        background: darken($background-color, 1%);
        box-shadow: 0 2px 3px rgba($black,.05), inset 4px 0 0 $primary-color;
      }

      &:first-of-type { border-top: 1px solid $grey-color-lightest; }
    }
  }

  .about-me {
    font-size: 16px;
    line-height: 26px;
    margin: 30px 0 0;
  }

  .socials {
    @include flexbox();
    @include justify-content();
    margin: 25px 0 0;

    li {
      margin: 5px;

      a {
        @include flexbox();
        @include align-items();
        @include justify-content();
        @include transition(all .1s ease);
        background: darken($grey-color-lightest, 6%);
        border-radius: 50%;
        height: 40px;
        width: 40px;

        &:hover { background: $primary-color; }

        svg * { fill: $white; }
      }
    }
  }

  .burger {
    display: none !important;

    .hidden { display: none; }

    label {
      cursor: pointer;
      display: block;
      margin: 0;
      padding: 4*$burger-cell-height 0;

      & > span {
        @include transition(background .01s .3s ease);
        background: $grey-color-darker;
        display: block;
        height: $burger-cell-height;
        position: relative;
        text-indent: -9999px;
        width: 24px;

        &:before,
        &:after {
          @include transition(top .3s .35s ease, transform .3s .05s ease);
          background: $grey-color-darker;
          content: "";
          height: $burger-cell-height;
          left: 0;
          position: absolute;
          width: 24px;
        }

        &:before { top: -(4*$burger-cell-height); }
        &:after { top: 4*$burger-cell-height; }
      }
    }

    .trigger:checked ~ label > span {
      background: transparent;

      &:after,
      &:before {
        @include transition(top .3s .05s ease, transform .3s .35s ease);
        top: 0;
      }
      &:before {
        @include rotate(45deg);
      }
      &:after {
        @include rotate(-45deg);
      }
    }
  }
}

.the-content {
  margin-left: 350px;

  & > h1 {
    color: $grey-color-light;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .search {
    @include placeholder($grey-color-lighter, italic);
    background: $white;
    border: 1px solid $grey-color-lightest;
    box-shadow: 0 2px 3px rgba($black,.05), inset 6px 0 0 $grey-color-lightest;
    margin: 0 0 20px;
    position: relative;

    & > div {
      @include flexbox();
      overflow: hidden;

      .show-results-count {
        @include transition(all .2s ease);
        background: $white;
        box-shadow: 6px 0 0 0 $grey-color-lightest;
        color: $grey-color-lighter;
        font-size: 11px;
        letter-spacing: 0.05em;
        line-height: 55px;
        margin-left: -100px;
        min-height: 55px;
        min-width: 100px;
        padding: 0 20px;
        text-transform: uppercase;

        &.active { margin-left: 0; }
      }

      .search-holder {
        background: url(../svg/search-icon.svg) no-repeat left center;
        @include bgsizeNum(15px, 16px);
        margin: 0 0 0 34px;
        padding: 0 0 0 25px;
        width: 100%;

        input {
          background: none;
          border: none;
          line-height: 22px;
          min-height: 55px;
          width: 100%;
        }
      }
    }

    .results-container {
      box-shadow: inset 0 0 0 1px $grey-color-lightest, 0 7px 10px rgba($black,.05);
      left: -1px;
      padding: 1px;
      position: absolute;
      width: calc(100% + 2px);
      z-index: 1000;

      li {
        font-size: 15px;

        a {
          @include transition(background .1s ease);
          background: $background-color;
          box-shadow: 0 -1px 0 $grey-color-lightest;
          display: block;
          padding: 15px 15px 15px 35px;
          position: relative;

          &:before {
            @include translate(0, -50%);
            background: $grey-color-normal;
            border-radius: 50%;
            content: "";
            height: 5px;
            left: 15px;
            position: absolute;
            top: 50%;
            width: 5px;
          }

          &:hover { background: $white; }
        }
      }
    }
  }

  .post {
    background: $white;
    border: 1px solid $grey-color-lightest;
    box-shadow: 0 2px 3px rgba($black, .05);
    margin: 3rem 0 0;
    padding: 2rem 2rem 4rem;
    position: relative;

    &.page { padding: 40px; }

    &:first-of-type { margin: 0; }

    .post-header {
      ul {
        @include flexbox();
        margin: 0 0 6px;

        li {
          color: $grey-color-light;
          font-size: 12px;
          letter-spacing: 0.06em;
          margin: 0 0 0 10px;
          padding: 0 0 0 12px;
          position: relative;
          text-transform: uppercase;

          &:first-of-type {
            margin: 0;
            padding: 0;

            &:before { content: none; }
          }

          &:before {
            @include translate(0, -50%);
            background: $grey-color-lighter;
            border-radius: 50%;
            content: "";
            height: 3px;
            left: 0;
            position: absolute;
            top: 50%;
            width: 3px;
          }

          &.cats a {
            @include transition(all .1s ease);
            border-bottom: 1px solid transparent;
            color: $grey-color-light;

            &:last-of-type:after { content: none; }
            &:after { content: ","; }
            &:hover {
              border-bottom: 1px solid $primary-color;
              color: $primary-color;
            }
          }
        }
      }

      h1,
      h2 {
        color: $grey-color-dark;
        font-size: 30px;
        font-weight: 900;
        margin: 0 0 20px;

        a {
          @include transition(color .1s ease);
          color: $grey-color-dark;

          &:hover { color: $primary-color; }
        }
      }
    }

    .post-content {
      font-size: 16px;
      line-height: 26px;

      abbr {
        border-bottom: 1px dotted $grey-color-normal;
        cursor: help;
        text-decoration: none;
      }

      code,
      kbd,
      pre {
        font-family: monospace;
        margin: 0;
        white-space: pre-wrap;
        word-break: break-word;
        word-wrap: break-word;
      }

      address,
      cite,
      var {
        font-style: italic;
      }

      blockquote {
        border-left: 3px solid $grey-color-light;
        font-style: italic;
        margin: 1.5rem 0;
        padding-left: 1rem;

        cite {
          display: block;
          margin-left: 1rem;

          &:before {
            content: "\2014\2009"; // em-dash thin-space
          }
        }
      }

      em,
      strong {
        color: $grey-color-dark;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $grey-color-dark;
        left: -40px;
        margin: 30px 0;
        padding: 0 0 0 40px;
        position: relative;
      }

      h1 { font-size: 30px; }
      h2 { font-size: 26px; }
      h3 { font-size: 22px; }
      h4 { font-size: 20px; }
      h5 { font-size: 18px; }
      h6 { font-size: 16px; }

      .heading-marker {
        @include transition(color .1s linear);
        @include translate(0, -50%);
        border: none;
        color: darken($grey-color-lightest, 8%);
        font-size: 24px;
        font-weight: 400;
        left: 15px;
        position: absolute;
        top: 50%;

        &:hover { color: $grey-color-light; }
      }

      a {
        @include transition(border .1s ease);
        border-bottom: 1px solid $primary-color;
        color: $primary-color;

        &:hover { border: none; }
      }

      ul,
      ol {
        margin: 15px 0;

        ul,
        ol {
          padding: 0 0 0 20px;
        }

        li {
          margin: 5px 0;

          & > code {
            background: $background-color;
            border: 1px solid $grey-color-lightest;
            font-size: 14px;
            padding: 3px 6px;
          }
        }
      }

      dl {
        margin: 40px 0;

        dt {
          font-weight: 700;
          margin: 10px 0 0;
        }

        dd {
          margin: 5px 0;

          & > code {
            background: $background-color;
            border: 1px solid $grey-color-lightest;
            padding: 3px 6px;
          }
        }
      }

      ul {
        list-style-position: inside;
        list-style-type: disc;
      }

      p {
        line-height: 27px;
        margin: 15px 0;

        & > code {
          background: $background-color;
          border: 1px solid $grey-color-lightest;
          font-size: 14px;
          padding: 3px 6px;
        }
      }

      .alignleft {
        float: left;
        margin: 20px 30px 20px 0;
      }

      .alignright {
        float: right;
        margin: 20px 0 20px 20px;
      }

      .aligncenter {
        clear: both;
        margin: 0 auto 20px;
      }

      figcaption {
        color: $grey-color-light;
        font-size: 13px;
        font-style: italic;
        padding-top: 10px;
      }

      @import "syntax";
    }

    &.post--archive {
      padding: 1rem 1.5rem;

      h2 {
        color: $grey-color-dark;
        font-size: 30px;
        font-weight: 900;
        margin: 0;

        a {
          @include transition(color .1s ease);
          color: $grey-color-dark;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    .post-footer {
      @include flexbox();
      background: lighten($grey-color-lightest, 5%);
      border-top: 1px solid $grey-color-lightest;
      bottom: 0;
      box-shadow: inset 0 10px 10px -9px rgba($black, .08);
      left: 0;
      position: absolute;
      width: 100%;

      div {
        color: $grey-color-light;
        font-size: 11px;
        line-height: 48px;
        min-height: 48px;

        &.share {
          @include bgsizeNum(10px, 10px);
          @include transition(background-color .1s ease);
          background: url(../svg/share-icon.svg) no-repeat 20px center;
          border-right: 1px solid $grey-color-lightest;
          cursor: pointer;
          padding: 0 20px 0 40px;
          position: relative;
          text-transform: uppercase;

          &:hover { background-color: $white; }

          &.active {
            background-color: $white;

            .social-networks {
              @include flexbox();
            }
          }

          .social-networks {
            @include translate(-50%, 0);
            box-shadow: 0 0 0 1px $grey-color-lightest, 0 3px 4px rgba($black,.05);
            display: none;
            left: 50%;
            position: absolute;
            top: -48px;
            width: 100px;

            li {
              @include transition(background .1s ease);
              background: $white;
              box-shadow: inset 1px 0 0 $grey-color-lightest;
              min-height: 50px;
              position: relative;
              text-align: center;
              width: 50%;

              &:first-of-type { box-shadow: none; }

              &.share-facebook:hover { background: $facebook-brand-color; }

              &.share-twitter:hover { background: $twitter-brand-color; }

              &:hover a svg { fill: $white; }

              a {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;

                svg {
                  @include transition(fill .1s ease);
                  display: inline-block;
                  vertical-align: middle;
                }
              }
            }
          }
        }

        &.tags {
          padding: 0 10px;
          text-transform: lowercase;
          width: 100%;

          ul {
            @include flexbox();
            @include flex-flow(row wrap);
            @include justify-content(flex-end);

            li {
              margin: 0 0 0 5px;

              a {
                @include transition(background .1s ease);
                background: $grey-color-lightest;
                border-radius: 18px;
                color: $grey-color-light;
                padding: 4px 10px;

                &:hover { background: darken($grey-color-lightest, 4%); }
              }
            }
          }
        }
      }
    }
  }

  .comments {
    background: $white;
    border: 1px solid $grey-color-lightest;
    box-shadow: 0 2px 3px rgba($black,.05);
    margin: 40px 0 0;
    padding: 40px;
    position: relative;
  }

  .pagination {
    @include flexbox();
    @include justify-content(space-between);
    margin: 40px 0 0;
    position: relative;

    &.next {
      @include justify-content(flex-end);
    }

    .previous,
    .next {
      background: $white;
      border: 1px solid $grey-color-lightest;
      box-shadow: 0 2px 3px rgba($black,.05);
      color: $grey-color-normal;
      font-size: 14px;
      font-weight: 900;
      padding: 14px 20px;
      text-transform: uppercase;

      &:hover {
        background: $primary-color;
        color: $white;
      }
    }

    .page_number {
      @include translate(-50%, -50%);
      color: $grey-color-light;
      font-size: 12px;
      left: 50%;
      position: absolute;
      top: 50%;
    }
  }
}

.not-found {
  text-align: center;

  &.post {
    font-size: 16px;
    padding: 40px;
  }
}

@import "responsive";
